// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-color: #000000;
  color: #ffffff;
}

h1{color:black;}

a{color:black;}

h2{color:#000000}
